*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

#header{
    display: flex;
    background-color: black;
    padding: 3rem;
    justify-content: center;
}
#header a{
    color: gray;
    margin-left: 4rem;
    font-size: 20px;
}
#header a:hover{
    color: white;
    transition: 0.7s;
}

#section1{
    padding: 12rem;
}

#footer{
    text-align: center;
    padding: 2em;
    background-color:  black;
}


#footer a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

#footer a:hover {
    color: white;
    transition: 0.5s;
}
