*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

#header{
    display: flex;
    background-color: black;
    padding: 3rem;
    justify-content: center;
}
#header a{
    color: gray;
    margin-left: 4rem;
    font-size: 20px;
}
#header a:hover{
    color: white;
    transition: 0.7s;
}

#section1{
    padding: 9rem;
    display: flex;
    justify-content: center; /* isso aqui deixa no centro */
}

#section1 div{
    text-align: left;
}

#section1 div p{
    font-size: 20px;
    color: gray;
}

#section1 div h1{
    font-size: 50px;
}

#section1 div h3{
    font-size: 40px;
}

#section-img1 img{
    width: 100%;
    height: auto;
}

#section-txt{
    padding: 1em;
    display: flex;
    justify-content: center; /* isso aqui deixa no centro */
    margin-top: -5px;
}

#section-txt div{
    text-align: left;
}

#section-txt div p{
    font-size: 12px;
    color: gray;
}

#section3{
    padding: 3rem;
    display: flex;
    justify-content: center; /* isso aqui deixa no centro */
}

#section3 div{
    text-align: left;
    width: 45em;
    margin-top: -30px;
}

#section3 div p{
    font-size: 19px;
    color: black;
    margin-top: 2em;
}

#section-img2 div{
    text-align: center;
}

#section-img2 div img{
    height: 35rem;
    width: 60rem;
}

#section-txt2{
    padding: 1em;
    display: flex;
    justify-content: center; /* isso aqui deixa no centro */
    margin-top: -5px;
}

#section-txt2 div{
    text-align: left;
}

#section-txt2 div p{
    font-size: 12px;
    color: gray;
}

#footer{
    text-align: center;
    padding: 2em;
    background-color:  black;
}


#footer a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

#footer a:hover {
    color: white;
    transition: 0.5s;
}
